<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js" charset="utf-8"></script>
  <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <title>Document</title>
  <script>
    window.onload = function() {
      let bt = document.getElementsByTagName('button')[0];

      bt.addEventListener('click', function() {
        window.location.href = '/auth/google';
      });
    };
  </script>
</head>
<style>


* {
margin: 0;
padding: 0;
}

html, body {
width: 100%;
height: 100%;
}

.intro {
position: relative;
width: 100%;
height: 100%;
overflow: hidden;
}



.intro .overlay {
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.7);
position: absolute;
top: 0;
opacity: 1;
left: 0;
z-index: +4;
}

.intro .text {
font-family: Montserrat;
font-size: 30pt;
color: #fff;
position: relative;
text-align: center;
top: 40%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
opacity: 0;
z-index: +6;
transform: translate(-50%, -50%);
}

.intro .textbox {
position: absolute;
top: 54%;
text-align: center;
left: 50%;
padding: 10px;
opacity: 0;
font-size: 20pt;
-webkit-appearance: none;
appearance: none;
color: #fff;
font-family: Montserrat;
background: transparent;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
width: 300px;
border: none;
z-index: +7;
outline: none;
border-bottom: 2px solid #eee;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(assets/img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
</style>
<script>
$(document).ready(function() {
  $('.overlay').delay(2000).animate({
      'opacity': 1
  }, 700, function(){
      $(".text").animate({
          'top':'38%',
          'opacity':1
      });
      $(".textbox").animate({
          'top':'52%',
          'opacity':1
      });
  });
  $(document).keydown(function(e){
      if (e.keyCode == 13) {
          window.location.href = "/map"
      }
  });
});
</script>
<body>

  <div class = "bg"></div>
  <div class="intro">

            <div class="overlay"></div>
            <div class="text">Search for any trending hashtag</div>
            <input type="text" class="textbox" placeholder="Enter Hashtag"/>
  </div>
</body>
</html>
